<style>
    .change-lang {
        position: absolute;
        z-index: 10000;
        font-size: 18px;
        top: 140px;
        margin: auto;
        width: 1080px;
        text-align: right;
        padding-right: 100px;
        float: right;

    }

    .change-lang a {
        color: #1c332a;
    }

    .wraper {
        position: relative;
    }
</style>
<div id="header">
    <div class="wrapper">
        <div class="change-lang">
            <a href="http://www.seung.cn/">>>中文版</a>
        </div>
        <div class="inner index-logo">
            <a href="/"><img src="/images/logo.png"/></a>
            <ul class="index-nav">
                <li><a href="/teachers">Teachers</a></li>
                <li><a href="/mode">Modes</a></li>
                <li><a href="/reason">Advantage</a></li>
                <li><a href="/about">About</a></li>
                <li>|</li>
                <li>Contact Us：400-689-0661</li>
            </ul>
        </div>
    </div>
</div>