<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>English</h1>
        <h4>Improvement Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>English</span></h5>

        <% include same-3.ejs %>

    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>English</h1>
        <h4>Excellent Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>English</span></h5>

        <% include same-4.ejs %>

    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Maths</h1>
        <h4>Improvement Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Maths</span></h5>

        <% include same-3.ejs %>

    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Maths</h1>
        <h4>Excellent Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Maths</span></h5>

        <% include same-4.ejs %>

    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Chinese</h1>
        <h4>Improvement Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Chinese</span></h5>

        <% include same-3.ejs %>

    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Chinese</h1>
        <h4>Excellent Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Chinese</span></h5>

        <% include same-4.ejs %>

    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Physics</h1>
        <h4>Improvement Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Physics</span></h5>

        <% include same-3.ejs %>

    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Physics</h1>
        <h4>Excellent Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Physics</span></h5>

        <% include same-4.ejs %>

    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Chemistry</h1>
        <h4>Improvement Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Chemistry</span></h5>

        <% include same-3.ejs %>

    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Chemistry</h1>
        <h4>Excellent Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Chemistry</span></h5>

        <% include same-4.ejs %>

    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>

<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1 style="font-size: 20px">Senior Three</h1>
        <h4>Intensify Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Senior Three Intensifying Class</span></h5>
        <dl>
            <dt> Course Contents：</dt>
            <dd>With reference to specific revision of the second turn of college entrance examination, problems of
                basic concept and theory, generalization of the problem-solving skills, specific training of the college
                entrance examination problems.
            </dd>
        </dl>

    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>