<div class="scroll">
    <h4>The Night Care Class enrolls the Students all years</h4>
</div>
<div class="bg7 item-1">
    <div class="inner-con">
        <h3>
            We can help you?
        </h3>

        <p class="q">Will Children not be taken good care of after school?</p>

        <p class="a">We can provide you with the quiet environment and perfect hosted services.</p>

        <p class="q">Do you have enough energy to care about you children’s study?</p>

        <p class="a">We have the professional hosted teachers to tutor the homework of your children. </p>

        <p class="q">Do you wish to improve the children’s abilities in every aspect?</p>

        <p class="a">We will supervise and cultivate the better study and life habits of your children.</p>
    </div>
    <img src="/images/bgs7/imgs/img-1.jpg" alt=""/>
</div>
<div class="bg7 item-2">
    <img src="/images/bgs7/imgs/img-2.jpg" alt=""/>

    <div class="inner-con">
        <h3>The Enrollment Information</h3>

        <p class="q">The Enrollment Target</p>

        <p class="a">All the primary school students of different age groups from Grade 1 to Grade 5.</p>

        <p class="q">The Night Care Class Time</p>

        <p class="a">
            Teachers will be arranged to host students until 20;30 after school.
        </p>
    </div>

</div>
<div class="bg7 item-3">
    <div class="inner-con">
        <h3 style="font-size: 20px;">Night Class Procedure:</h3>

        <p>The students will be collected to the classroom of Seung education classroom securely and timely by the
            hosted teachers after school.</p>

        <p>2.The hosted teachers will supervise and tutor the students to finish their homework consciously and on
            time. </p>

        <p>3.The hosted teachers will check the ommitance and compensate for the shortages by referring to the weak
            subjects of the students, preview and review as well as reduce the tutoring burden of the parents.</p>

        <p>4.The hosted teachers will accompany the students to listen to today’s English materials.</p>

        <p>5.Correcting the bad habits, elevating the concentration and creation of the students, cultivating the better
            capabilities of independent thinking and free study.</p>

        <p>6.The hosted teachers will make a frequent communication with the parents whose children are responsible by
            them and timely reflect the homework completion situation.</p>
    </div>
    <img src="/images/bgs7/imgs/img-3.jpg" alt=""/>
</div>
<div class="bg7 item-4">
    <div class="inner-con">
        <h3>The Photo of  Students</h3>
    </div>
</div>
<div class="pics">
    <img class="item" src="/images/pics/1.jpg" alt=""/>
    <img class="item" src="/images/pics/2.jpg" alt=""/>
    <img class="item" src="/images/pics/3.jpg" alt=""/>
    <img class="item c" src="/images/pics/4.jpg" alt=""/>
    <img class="item" src="/images/pics/5.jpg" alt=""/>
    <img class="item" src="/images/pics/6.jpg" alt=""/>
    <img class="item" src="/images/pics/7.jpg" alt=""/>
    <img class="item c" src="/images/pics/8.jpg" alt=""/>
</div>