<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>English</h1>
        <h4>Improvement Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>English</span></h5>
        <% include same-1.ejs %>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>English</h1>
        <h4>Excellent Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>English</span></h5>
        <% include same-2.ejs %>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Maths</h1>
        <h4>Improvement Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Maths</span></h5>
        <% include same-1.ejs %>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Maths</h1>
        <h4>Excellent Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Maths</span></h5>

        <% include same-2.ejs %>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Chinese</h1>
        <h4>Improvement Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Chinese</span></h5>
        <% include same-1.ejs %>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Chinese</h1>
        <h4>Excellent Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Chinese</span></h5>

        <% include same-2.ejs %>

    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Physics</h1>
        <h4>Improvement Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Physics</span></h5>
        <% include same-1.ejs %>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Physics</h1>
        <h4>Excellent Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Physics</span></h5>

        <% include same-2.ejs %>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Chemistry</h1>
        <h4>Improvement Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Chemistry</span></h5>
        <% include same-1.ejs %>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Chemistry</h1>
        <h4>Excellent Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Chemistry</span></h5>

        <% include same-2.ejs %>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1 style="font-size: 20px;">Junior Three</h1>
        <h4>Rushing Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Junior Three The Rushing Class</span></h5>
        <dl>
            <dt>Course Contents：</dt>
            <dd> According to high school entrance examination policy in shanghai, we will expand and research different
                knowledge points by combining the high school entrance examination information, examination outline and
                features of the high school entrance examination and direct examination as well as assist those students
                to improve the abilities to take the exams and solve the problems by means of carrying out the training
                of the specific problems.
            </dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>