<div class="all-courses-net-main-one net-main-same">
    <div class="all-courses-net-main-one-pic">
        <div class="all-courses-net-main-one-pic-box">
            <img src="/images/all-courses-net/rabbit-one.jpg">

            <p>I can not solve problems in the homework <br></p>
        </div>
        <div class="all-courses-net-main-one-pic-box">
            <img src="/images/all-courses-net/rabbit-two.jpg">

            <p>As a result, there is no answer at all.</p>
        </div>
        <div class="all-courses-net-main-one-pic-box pic-box-three">
            <img src="/images/all-courses-net/rabbit-three.jpg">

            <p>Available at any time or place</p>
        </div>
        <div class="all-courses-net-main-one-pic-box">
            <img src="/images/all-courses-net/rabbit-four.jpg">

            <p>Face-to-face conversation</p>
        </div>
        <div class="all-courses-net-main-one-pic-box">
            <img src="/images/all-courses-net/rabbit-five.jpg">

            <p>Pay after feeling satisfied</p>
        </div>
        <div class="all-courses-net-main-one-pic-box pic-box-three">
            <img src="/images/all-courses-net/rabbit-six.jpg">

            <p>No difficult homework existing in the world.</p>
        </div>
        <h6><a href="http://seungnet.taobao.com/" target="_blank">Go to TaoBao</a></h6>
    </div>

</div>


<div class="all-courses-net-main-two net-main-same">
    <h4 class="title-one" style="font-size: 18px;">What is the online course?</h4>
    <p>
        The online course is an exchange in the forms of vocal voice， video， words and electronic blackboard between
        teachers and students in different places by making use of the online teaching software。 Just like face-to-face
        tutoring and exchange between teachers and students with zero distance。 There is no limit over the time or
        space, making your private tutoring a complete enjoyment。</p>
    <h4 class="title-two" style="font-size: 18px;">The features and priorities</h4>
    <p>
        It has a conference exchanging function of one-to-one and one-to-more，which can be carried out between teachers
        and students, and which has functions like timely communication, audio and video interaction, document
        transmission, electronic typesetting interaction, screen broadcasting, document sharing and document synergy
        discussion with convenient handling and simple operation. The ordinary computer and standard video equipment can
        be only used by teachers and students just like using the chatting tools carrying out simple long-term private
        tutoring activities, being safe and convenient without stepping out of your house. You can communicate with
        distant famous teachers at home, excellent teachers will be invited to tutor you face-to-face without stepping
        out of the house. Your time and transportation fee have been saved and your children’s safety can be ensured,
        The security of the vocal message, video or other databases will be ensured during the transmission process by
        the network tutoring software by means of Dynamic data encryption technology.
    </p>
</div>


<h4>Online class</h4>
<div class="all-courses-net-main-three net-main-same">
    <img class="online-pic" src="/images/all-courses-net/online-pic.jpg"/>

    <div class="video-block">
        <embed wmode="opaque" width="700" height="569"
               src="http://cloud.video.taobao.com/play/u/11395464/p/2/e/1/t/3/11636924.swf#tb_videoid=3173187"
               type="application/x-shockwave-flash" flashvars="scene=taobao_shop" allowscriptaccess="never">
    </div>
    <!--<div class="video-block">-->
    <!--<embed wmode="opaque" width="700" height="569"-->
    <!--src="http://vodcdn.video.taobao.com/player/ugc/tb_ugc_pieces_core_player_loader.swf?version=1.0.20150330&vid=25384249&uid=23013800&p=1&t=1&rid=http%3A%2F%2Fxue.taobao.com%2Fmarket%2Fxue%2F2015jysd.php%3Fspm%3Da2174.7346861.2.1.SCXq8R&random=6666"-->
    <!--type="application/x-shockwave-flash" flashvars="scene=taobao_shop" allowscriptaccess="never">-->
    <!--</div>-->
    <img src="/images/all-courses-net/process-pic.jpg"/>
</div>


<div class="all-courses-net-main-four net-main-same">
    <h4>Q&A</h4>
    <ul>
        <li class="orange">How can we do if we want to cancel the appointed course? The tuition fee will be deducted？
        </li>
        <li class="green">
            The appointed course can surely be canceled, however, you need notify us about the cancellation 4 hours in
            advance. The fee will not be deducted as the normal cancellation. I will record it as the abnormal
            cancellation if you can not notify us 4 hours in advance. The fee will be deducted for one time if there are
            3 times of abnormal accumulated cancellation。 Please try not to cancel your course temporarily due to the
            arrangement of the agenda。
        </li>
        <li class="orange">What can we do if the vocal effect is very poor?</li>
        <li class="green">
            If you feel the weakness of the vocal effect in 5 minutes after class, please do not take the course
            reluctantly. Propose to your teacher immediately and also stop the course timely without calculating the
            fee.
        </li>
        <li class="orange">How about the tutoring quality of this school?</li>
        <li class="green">
            Seung education was established in 2008, this is an organization which is specially engaged in tutoring and
            cultivating the study capabilities of the primary and middle school students. Our teacher team is persistent
            to be consequence-oriented and the achievements should be reflected by students‘ grades。 Therefore， with the
            improvement of the study grades of 95% of the students， the achievements can be checked by the grade
            progress list on the website。
        </li>
        <li class="orange">Can it have the effect of the entity tutoring?</li>
        <li class="green">
            The two parties are able to make a face-to-face exchange via computer through the distance education
            system. Moreover, what I have written is visible. You can study while opening the computer with the free
            study time and the same effect as the entity tutoring
        </li>
    </ul>
</div>


<h4>Online class</h4>
<div class="all-courses-net-main-five net-main-same">
    <a href="http://seungnet.taobao.com/" target="_blank">
        <div class="item">
            <div class="tab"></div>
            <img src="/images/all-courses-net/img-3.jpg" alt=""/>

            <p>
                English
                <span>￥40</span>
            </p>
        </div>
    </a>
    <a href="http://seungnet.taobao.com/" target="_blank">
        <div class="item">
            <div class="tab"></div>
            <img src="/images/all-courses-net/img-2.jpg" alt=""/>

            <p>
                Mathematics
                <span>￥40</span>
            </p>
        </div>
    </a>
    <a href="http://seungnet.taobao.com/" target="_blank">
        <div class="item">
            <div class="tab"></div>
            <img src="/images/all-courses-net/img-3.jpg" alt=""/>

            <p>
                English
                <span>￥40</span>
            </p>
        </div>
    </a>
    <a href="http://seungnet.taobao.com/" target="_blank">
        <div class="item">
            <div class="tab"></div>
            <img src="/images/all-courses-net/img-1.jpg" alt=""/>

            <p>
                English
                <span>￥50</span>
            </p>
        </div>
    </a>
    <a href="http://seungnet.taobao.com/" target="_blank">
        <div class="item">
            <div class="tab"></div>
            <img src="/images/all-courses-net/img-2.jpg" alt=""/>

            <p>
                mathematics
                <span>￥50</span>
            </p>
        </div>
    </a>
    <a href="http://seungnet.taobao.com/" target="_blank">
        <div class="item">
            <div class="tab"></div>
            <img src="/images/all-courses-net/img-1.jpg" alt=""/>

            <p>
                Physics
                <span>￥50</span>
            </p>
        </div>
    </a>
    <a href="http://seungnet.taobao.com/" target="_blank">
        <div class="item">
            <div class="tab"></div>
            <img src="/images/all-courses-net/img-1.jpg" alt=""/>

            <p>
                Chemistry
                <span>￥60</span>
            </p>
        </div>
    </a>
    <a href="http://seungnet.taobao.com/" target="_blank">
        <div class="item">
            <div class="tab"></div>
            <img src="/images/all-courses-net/img-1.jpg" alt=""/>

            <p>
                English
                <span>￥60</span>
            </p>
        </div>
    </a>
    <h6><a href="http://seungnet.taobao.com/" target="_blank">Read More</a></h6>
</div>