<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>English</h1>
        <h4>Basic Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>English</span></h5>
        <dl>
            <dt>Designed for:</dt>
            <dd>The students with weaker basic knowledge. We mainly emphasize on the basic problem training and help the
                students to clarify the thinking thread
            </dd>
            <dt>The course introduction:</dt>
            <dd>Elaborating general grammatical knowledge, helping student get ready to transfer from primary school to
                junior-high school. Registration for trial is required
            </dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>English</h1>
        <h4>Improved Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>English</span></h5>
        <dl>
            <dt>Designed for:</dt>
            <dd>
                students with some basic English language skills. The basic exercises of 70%+the difficult and profound
                expansive exercises of 30%.
            </dd>
            <dt>The course introduction:</dt>
            <dd>
                Elaborating general grammatical knowledge, helping student get ready to transfer from primary school to
                junior-high school.
            </dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Math</h1>
        <h4>Basic Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Math</span></h5>
        <dl>
            <dt>Designed for:</dt>
            <dd>students with weaker basic knowledge. emphasizing on the basic problem training and helping students to
                clarify the thinking thread.
            </dd>
            <dt>The course introduction:</dt>
            <dd> Aiming at students to carry out effective way of thinking and train their logical and analytic
                abilities and master the important key points in the regular examinations solidly. Enabling students to
                think over the different examples and find out the traps of the examination and solve and overcome them
                correctly.
            </dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Math</h1>
        <h4>Improved Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Math</span></h5>
        <dl>
            <dt>Designed for:</dt>
            <dd>students who wish to improve their grades swiftly with the medium grade or above medium grade, The 70%
                basic exercises +the 30% difficult and profound expansive exercises .
            </dd>
            <dt>The course introduction:</dt>
            <dd>Aiming at the students to carry out the effective way of thinking and train their logical and analytic
                abilities and master the important key points in the regular examinations solidly. Enabling the students
                to think over the different examples and find out the traps of the examination and solve and overcome
                them correctly.
            </dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>Phonics</h1>
        <h4>Essence Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Phonics</span></h5>

        <dl>
            <dt>Designed for:</dt>
            <dd>Helping those who have difficulties in memorizing and reciting the new words and have no interest in
                English study.
            </dd>
            <dt>The course introduction:</dt>
            <dd> Breaking shackles of Chinese style oral English. Learning standard pronunciation through the abundant
                class forms. For example: The story teaching method etc. Emphasizing on the “ Self revelation” in order
                to develop the study interest and potentialities.
            </dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>

<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1 style="font-size: 26px;">NCE</h1>
        <h4>Essence Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>New Concept English</span></h5>
        <dl>
            <dt>Designed for:</dt>
            <dd> For those who need to strengthen the grammar between Grade 1 to Grade Five and enlarge the
                vocabulary.
            </dd>
            <dt>The course introduction:</dt>
            <dd>
                <!--<<The New Concept English>> -->
                is deemed as a classical English teaching course who has been best-selling
                and prevalent globally for forty-six years. We will improve the comprehensive qualities of the
                learners completely in English listening, speaking, reading, writing and translating in order to
                rapidly improve the practical application abilities by its unique application ability training.
            </dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>

<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1 style="font-size: 20px;">Olympic Maths</h1>
        <h4>Essence Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span> The Olympic maths </span></h5>

        <dl>
            <dt>Designed for:</dt>
            <dd>For those who are ready to participate the competitions like cup of spring bud and cup of hope and
                obtaining the certificate and prepare for those between the primary schools and junior schools.
            </dd>
            <dt>The course introduction:</dt>
            <dd>
                Olympic maths course is carrying out in the forms of the combination of speaking and practice and
                focusing on the feedback, revision and homework as well as making a supplementary and periodical
                evaluation. Enabling the students to have the solid foundation to confront the changeable issues and
                improve maths application abilities and way of thinking abilities of the students.
            </dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>SBS</h1>
        <h4>Essence Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>SBSＬongman</span></h5>

        <dl>
            <dt>Designed for:</dt>
            <dd>students of grade two and three ( SBS1 The first volume), students of grade four and five ( SBS1 The
                second volume)
            </dd>
            <dt>The course introduction:</dt>
            <dd> Combining requirements of English teaching outline of primary schools and middle schools of shanghai.
                The study interest of the children can be elevated and their language sense can be accumulated by
                adopting the rich and diverse teaching means like games, folk songs, comedies, stories and multimedia.
            </dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>

<div class="all-courses-main-one" style="display: none;">
    <div class="all-course-main-left">
        <h1 style="font-size: 30px;">国际音标</h1>
        <h4>Essence Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>International phonetic alphabet, the essence class</span></h5>

        <dl>
            <dt>Designed for:</dt>
            <dd>For those who are ready to take the school selection exam and to be recommended to the key junior
                schools.
            </dd>
            <dt>The course introduction:</dt>
            <dd> Firmly mastering the 48 writing and pronunciation of international phonetic alphabet through exercises,
                quickly mastering the spelling skills of the words, overcoming the pronunciation difficulties and
                helping the children to obtain the high marks easily.
                Making a prior appointment for trial listening
            </dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>

<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1 style="font-size: 20px;">Logical Maths</h1>
        <h4>Essence Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>Maths logical training</span></h5>

        <dl>
            <dt>Designed for:</dt>
            <dd>For those who are ready to take the school selection examination and to be recommended to enter the key
                elementary school.
            </dd>
            <dt>The course introduction:</dt>
            <dd> Being superior to teaching materials, being effectively expand the problem-solving way of thinking,
                enlightening the maths way of thinking. The small games will be involved in the class so that the
                children will easily comprehend and also strengthen the local way of thinking.
            </dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>

<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1 style="font-size: 24px;">Chinese</h1>
        <h4>Essence Class</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>The Chinese reading and writing of primary schools</span></h5>

        <dl>
            <dt>Designed for:</dt>
            <dd>For those students who are ready to take the school selection exams and to be recommended to the key
                schools.
            </dd>
            <dt>The course introduction:</dt>
            <dd>The Chinese capabilities are made up of four parts like listening, speaking, reading and writing. The
                courses will improve the abilities of expression, imagination, logical way of thinking, communication
                and performance through the specific pictures and files.
            </dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">Booking audition</a></div>
</div>