<style>
    .title_line {
        border: 1px solid #e5e5e5;
        width: 780px;
        position: relative;
        height: 0;
        top: -33px;
        left: 205px;
    }

    .video-list .header {
        vertical-align: middle;
        height: 70px;
        line-height: 70px;
    }

    .video-list .main.row {
        min-width: 0px;
    }

    .video-list .video-main img {
    }

    .video-list .video-box {
        padding: 0px 30px;
    }

    .video-list .newpage-video-bt {
        width: 100%;
        height: 166px;
        height: 100%;
        background: 0 0;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .video-list .newpage-video-bt .video-play-btn {
        zoom: 1;
        line-height: 59px;
        vertical-align: text-top;
        position: absolute;
        top: 40%;
        left: 50%;
        width: 59px;
        height: 59px;
        margin-left: -29px;
        margin-top: -29px;
        display: block;
        transition: .1s;
        background: url(/video/images/icon.png) -69px -629px no-repeat;
    }

    .video-list .newpage-video-bt:hover {
        color: #00A8DF;
    }

    .video-list .newpage-video-bt:hover .video-play-btn {
        background: url(/video/images/icon.png) -5px -629px no-repeat
    }

    .video-list .col-xs-3 .video-desc {
        padding-bottom: 10px;
        border-bottom: 1px solid #c7c7cd;
    }

    .professor-list {
        margin-top: 60px;
    }

    .professor-list .header {
        vertical-align: middle;
        height: 70px;
        line-height: 70px;
    }

    .professor-list .main {
        padding: 10px 30px;
    }

    .professor-list .professor-desc {
        padding: 5px 10px;
    }

    .professor-list .professor-desc li {
        font-size: 12px;
        color: #6d6d73;
        margin: 2px 0px;
    }

    .mom-list {

    }

    .mom-list .header {
        vertical-align: middle;
        height: 70px;
        line-height: 70px;
    }

    p {
        margin: 0px;
    }

    .mom-line-dir {
        border-bottom: 2px dashed #9e9e9e;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .col-cate-dir-line-1 {
        border-right: 2px dashed #9e9e9e;
        min-height: 750px;
    }

    .col-cate-dir-line-2 {
        border-right: 2px dashed #9e9e9e;
        min-height: 830px;
        margin-top: -80px;
    }
</style>

<!--一页-->
<div class="row" style="display: none;">
    <div>
        <div class="col-xs-1">
            <img src="/video/new/demo-1.png">
        </div>
        <div class="">
            <h3 style="color:red">/With the new style teaching method and the interesting study process/</h3>
            <h2 style="font-weight: 600">the children will be made to really fall in love with learning English!</h2>
        </div>
    </div>
</div>
<!--1-->
<div class="row">
    <div class="col-xs-6">
        <img class="img-responsive pull-right"
             style="height: 250px;
             z-index: 1000;"
             src="/video/lazy.gif"
             data-original="/video/new/1-1.png">
    </div>
    <div class="col-xs-6">
        <div style="background: url('/video/new/1-2.png') repeat;
            position: absolute;
            left: -60px;
            height: 150px;
            width: 100%;
            -moz-background-size:100% 100%;
            background-size:100% 100%;
            padding: 5px 50px 5px 20px;">
            <h3 style="font-weight: 600;">The multi-media course software</h3>
            <p>the vocal animation, the interactive games which will make children fully focuses on the learning each
                minute in class.</p>
        </div>
    </div>
</div>
<!--2-->
<div class="row" style="position: absolute;height: 260px;margin-top: -100px;">
    <div class="col-xs-6">
        <div style="background: url('/video/new/6.png');
        position: absolute;
        right: -30px;
        height: 190px;
        margin-top: 100px;
            -moz-background-size:100% 100%;
            background-size:100% 100%;
            padding: 5px 10px 5px 50px;" class="pull-right">
            <h3 class="" style="font-weight: 600;">The English Learning Website</h3>
            <p>500 thousand exercises of listening, speaking, reading and writing. A huge amount of exercises with the
                vivid and interesting animation form, which will make the homework <br/> full of unlimited pleasure.
                Since2010 up to the present, <br/>
                the children have already completed more than 250 million exercises by
                accumulation on the English learning website.</p>
        </div>
    </div>
    <div class="col-xs-6">
        <img src="/video/lazy.gif" class="img-responsive pull-left" style="height: 250px"
             data-original="/video/new/2-2.png">
    </div>
</div>
<!--3-->
<div class="row" style="margin-top: 180px;">
    <div class="col-xs-6">
        <img src="/video/lazy.gif" class="img-responsive pull-right" style="height: 250px"
             data-original="/video/new/4.png">
    </div>
    <div class="col-xs-6">
        <img class="img-responsive" style="height: 140px;" src="/video/new/5.png">
        <div style="background: url('/video/new/2-1.png') repeat;
             -moz-background-size:100% 100%;
            background-size:100% 100%;
            width: 100%;
            height: 200px;
            position: absolute;
            left: -30px;
            padding: 10px 20px;">
            <h3 style="font-weight: 600;">The English Original version cartoon teaching materials</h3>
            <p>he interesting sotries, the delicate design will stimulate the reading interests of the children and
                enable them to learn more actively.</p>
        </div>
    </div>
</div>
<!--4-->
<div class="row" style="margin-top: 30px;">
    <div class="col-xs-6">
        <img src="/video/lazy.gif"
             class="img-responsive pull-right" style="height: 250px;"
             data-original="/video/new/4-2.png">
        <div style="background: url('/video/new/6.png');
        position: absolute;
        right: -25px;
        height: 160px;
        margin-top: 130px;
            -moz-background-size:100% 100%;
            background-size:100% 100%;" class="pull-right">
            <h3 style="font-weight: 600;padding-left: 100px;">The school-loving communication</h3>
            <p style="padding-left: 100px;">The online study report will be provided and the students’ study status will
                be scanned. The weekly text message will be sent to tell about the learning status of the children,
                which will make the parents feel assured and at ease.</p>
        </div>
    </div>
    <div class="col-xs-6">
        <img src="/video/lazy.gif"
             class="img-responsive pull-left" style="height: 280px;margin-top: 10px" data-original="/video/new/4-1.png">
    </div>
</div>


<!--end ye top-->
<div class="row" style="margin-top: 50px;">
    <h3 style="padding-left: 40px;color: #B11729;margin-bottom: 0px;">/During the class of Seungeducation, what are
        children learning?/</h3>
    <h1 style="padding-left: 20px;font-weight:600;margin-top: 0px;">Course systems && Profile</h1>
    <div class="text-center" style="margin-top: 20px;">
        <img style="width: 100%;padding-right:10px;height: auto" src="/video/new/last-top-bar.png">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p style="margin-top: 20px;">
            <label style="color: #ff9901;padding-right: 5px;">Sync：</label>Seung Harvard Children English
            <span style="color: #e72e2e">100%</span> includes overall knowledge points of
            primary school English teaching outline，helping children better consolidate the contents learned in the
            school and literally improve children’ s study grades.。</span>
        </p>
        <p style="margin-top: 20px;">
            <label style="color: #ff9901;padding-right: 5px;">Expand：</label>The expansive part of the course is
            compiled according to the contents of grade1 and 2 in British and American new textbook，teaching in english,
            <span style="color: #e72e2e;font-weight: 600">which lays a good foundation for children’s promotion and study abroad.</span>
        </p>
    </div>
</div>
<div class="row">
    <div class="text-center" style="margin-top: 20px;">
        <img style="width: 100%;padding-right:10px;height: auto" src="/video/new/last-bottom-dir.png">
    </div>
</div>
<div class="row" style="margin-top: 30px;">
    <div style="width: 600px;">
        <img style="margin-left: 30px;width: 60px;display: inline-block" class="img-responsive"
             data-original="/video/new/last-icon-seven.png">
        <span style="display: inline-block;position:absolute;margin-left: 10px;">
            <p><span style="color: #e72e2e;font-weight: 600">Seven levels</span>,being easy to difficult,will create the perfect  <br/>
                study plan with the most scientific systems. After learning all the courses,
                <br/>
                students can fully master listening, speaking, reading and writing
                <br/>skills during the daily English application.</p>
        </span>
    </div>
</div>

<!--3排-->
<div class="row" style="margin-top: 100px;">
    <div class="col-xs-4 text-center">
        <div style="position: absolute;margin-top: -20px;margin-left: 25px;">
            <img class="img-responsive" src="/video/new/col-cate-1.png">
            <img style="width: 240px;margin-top: 40px;" class="img-responsive" src="/video/new/col-up-1.png">
        </div>
        <div class="col-cate-dir-line-1"></div>
    </div>
    <div class="col-xs-4 text-center" style="">
        <div style="position: absolute;margin-top: -100px;margin-left: 25px;">
            <img class="img-responsive" src="/video/new/col-cate-2.png">
            <img style="width: 240px;margin-top: 40px;" class="img-responsive" src="/video/new/col-up-2.png">
        </div>
        <div class="col-cate-dir-line-2"></div>
    </div>
    <div class="col-xs-4 text-center">
        <div style="position: absolute;margin-top: -210px;margin-left: 25px;">
            <img class="img-responsive" src="/video/new/col-cate-3.png">
            <img style="width: 240px;margin-top: 25px;" class="img-responsive" src="/video/new/col-up-3.png">
        </div>
    </div>
</div>

<!--妈妈评语-->
<div class="mom-list">
    <div class="header">
        <p style="font-size: 18px; margin: 20px 0px 20px; color: rgb(136, 136, 136);">Mother’s Comments:</p>
        <div class="title_line" style="top:-54px;"></div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
            <img class="img-responsive" src="/video/lazy.gif" style="height: 160px;width: 160px;"
                 data-original="/video/new/head-mom-1.png">
        </div>
        <div class="col-xs-9">
            <h3 style="font-weight: 700">The mother of Chenchen with grade three child</h3>
            <!--<h4 style="font-weight: 600">孩子三年级</h4>-->
            <p style="width: 600px;">
                I will receive e-mail and short messages from Seung education weekly, informing me of recent study
                status of my child . I am really happy when knowing that his study is getting better and better.
            </p>
        </div>
    </div>
    <div class="mom-line-dir"></div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
            <img class="img-responsive" src="/video/lazy.gif" style="height: 160px;width: 160px;"
                 data-original="/video/new/head-mom-2.png">
        </div>
        <div class="col-xs-9">
            <h3 style="font-weight: 700">The mother of Jiajia with grade two child</h3>
            <!--<h4 style="font-weight: 600">孩子二年级</h4>-->
            <p style="width: 600px;">
                Jiajia is fond of the library in Seung education. Upon reading, he will also read the story contents
                with me, which is very conducive to oral language.
            </p>
        </div>
    </div>
    <div class="mom-line-dir"></div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
            <img class="img-responsive" src="/video/lazy.gif" style="height: 160px;width: 160px;"
                 data-original="/video/new/head-mom-3.png">
        </div>
        <div class="col-xs-9">
            <h3 style="font-weight: 700">Ai Fang jia</h3>
            <h4 style="font-weight: 600">The senior English teacher of Primary school in Shanghai, being engaged in the
                front line teaching for
                more than 30 years.</h4>
            <p style="width: 600px;">

                Interest is the study motivation for children. Seung education has not only brought the English
                knowledge to the children but also enabled children to fully experience the pleasure of English study.
            </p>
        </div>
    </div>
</div>
<!--精彩视频-->
<div class="video-list">
    <div class="header">
        <p style="font-size: 18px; margin: 20px 0px 20px; color: rgb(136, 136, 136);">Videos:</p>
        <div class="title_line" style="top:-54px;"></div>
    </div>
    <div class="main row">
        <div class="video-box text-center">
            <div class="col-xs-3">
                <div class="video-main">
                    <img class="img-responsive" src="/video/lazy.gif" data-original="/video/images/video-1.jpg">
                    <a class="inline-block-without-size newpage-video-bt" target="_blank"
                       href=" /video/1">
                        <i class="video-play-btn"></i></a>
                </div>
                <div class="video-desc">
                    <br>
                    <p> The love joy brand and product profile</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="video-main">
                    <img class="img-responsive" src="/video/lazy.gif" data-original="/video/images/video-2.jpg">
                    <a class="inline-block-without-size newpage-video-bt" target="_blank"
                       href=" /video/2">
                        <i class="video-play-btn"></i></a>
                </div>
                <div class="video-desc">
                    <br>
                    <p>The love joy text content and design:Tots</p>

                </div>
            </div>
            <div class="col-xs-3">
                <div class="video-main">
                    <img class="img-responsive" src="/video/lazy.gif" data-original="/video/images/video-3.jpg">
                    <a class="inline-block-without-size newpage-video-bt" target="_blank"
                       href="/video/3">
                        <i class="video-play-btn"></i></a>
                </div>
                <div class="video-desc">
                    <br>
                    <p>The love joy text content and design:kids</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="video-main">
                    <img class="img-responsive" src="/video/lazy.gif" data-original="/video/images/video-4.jpg">
                    <a class="inline-block-without-size newpage-video-bt" target="_blank"
                       href="/video/4">
                        <i class="video-play-btn"></i></a>
                </div>
                <div class="video-desc">
                    <br>
                    <p>The love joy text content and design：teens</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--专家团队-->
<div class="professor-list">
    <div class="header">
        <p style="font-size: 18px; margin: 20px 0px 20px; color: rgb(136, 136, 136);">The Experts Team:</p>
        <div class="title_line" style="top:-54px;"></div>
    </div>
    <div class="main row">
        <div class="professor-box">
            <div class="col-xs-3">
                <div class="professor-main">
                    <img class="img-responsive" src="/video/lazy.gif" data-original="/professor/images/pro-1.png">
                </div>
                <div class="professor-desc">
                    <h4>Karen Blythe</h4>
                    <ul style="padding-left: 10px;">
                        <li>The professor of Harvard Unviersity</li>
                        <li>The top consultant of love joy English teaching</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="professor-main">
                    <img class="img-responsive" src="/video/lazy.gif" data-original="/professor/images/pro-2.png">
                </div>
                <div class="professor-desc">
                    <h4>William Tang</h4>
                    <ul style="padding-left: 10px;">
                        <li>TEFLC of Columbia University</li>
                        <li>The vice president of love joy English teaching</li>
                        <li>The general consultant of the English intelligent TV program of CCTV << No Pain, No
                            Gain>>.CCTV
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="professor-main">
                    <img class="img-responsive" src="/video/lazy.gif" data-original="/professor/images/pro-3.png">
                </div>
                <div class="professor-desc">
                    <h4>Negroponte</h4>
                    <ul style="padding-left: 10px;">
                        <li>The digital master</li>
                        <li> The president of MIT Media laboratory</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="professor-main">
                    <img class="img-responsive" src="/video/lazy.gif" data-original="/professor/images/pro-4.png">
                </div>
                <div class="professor-desc">
                    <h4> Pengkai Pang</h4>
                    <ul style="padding-left: 10px;">
                        <li>The famous international children education experts</li>
                        <li>MIT doctor of SUA</li>
                        <li>The creator of love joy English</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
