<style type="text/css">
    .summer-content {
        width: 1000px;
        height: 1401px;
        position: relative;
        background-image: url(/images/summer-images/summerBG.jpg);
        background-repeat: no-repeat;
        margin: 0 auto;
    }

    .shutuo-time {
        width: 780px;
        height: 80px;
        position: absolute;
        top: 410px;
        left: 206px
    }

    .left-logo {
        width: 220px;
        height: 70px;
        position: absolute;
        top: 28px;
        left: 34px;
    }

    .summer-pic {
        width: 936px;
        height: 506px;
        position: absolute;
        top: 560px;
        left: 52px;
    }

    .summer-picture {
        width: 270px;
        height: 190px;
        position: absolute;
    }

    .summer-schedule {
        width: 800px;
        height: 234px;
        position: absolute;
        top: 1068px;
        left: 42px;
        font-size: 14px;
    }

    .schedule-L {
        width: 158px;
        height: auto;
        float: left;
    }

    .pic-1 {
        top: 13px;
        left: 15px;
    }

    .pic-2 {
        left: 333px;
        top: 28px;
    }

    .pic-3 {
        left: 673px;
    }

    .pic-4 {
        top: 270px;
    }

    .pic-5 {
        top: 280px;
        left: 325px;
    }

    .pic-6 {
        left: 660px;
        top: 280px;
    }

    .text-one {
        width: 460px;
        color: #00087f;
        position: absolute;
        top: 218px;
        font-size: 14px;
        font-weight: 700
    }

    .bluetext {
        color: #2193c6;
        font-size: 15px;
        font-weight: 900
    }

    .text-two {
        width: 460px;
        color: #00087f;
        position: absolute;
        top: 195px;
        left: 500px;
        font-size: 14px;
        font-weight: 700
    }

    .text-two .bluetext {
        position: absolute;
        left: 200px;
    }

    .text-three {
        color: #00087f;
        position: absolute;
        top: 470px;
        font-size: 14px;
        font-weight: 700
    }

    th, td {
        width: 95px;
        height: 30px;
        text-align: center;
        border-right: 1px #b05089 solid;
        border-bottom: 1px #b05089 solid;
        border-collapse: collapse;
    }

    table {
        border: 1px #b05089 solid;
        border-radius: 30px;
        background-color: rgba(195, 122, 165, 0.1);
        overflow: hidden;
        border-collapse: collapse;
    }

    .schedule {
        float: left;
        width: 570px;
        border: 1px #b05089 solid;
        border-radius: 30px;
    }

    .bottom pre {
        display: inline-block;
        position: absolute;
        bottom: -10px;
        width: 800px;
        font-size: 18px;
        color: #c9e1ec;
        border: 0;
        background-color: rgba(0, 0, 0, 0)
    }

    .bottom {
        width: 960px;
        height: 110px;
        position: absolute;
        top: 1275px;
        left: 42px;
    }

    .erweima {
        float: right;
        position: absolute;
        right: 10px;
    }

</style>
<!--#start content-->
<div class="summer-content">
    <!-- logo -->
    <!--<a class="left-logo" href="#">
        <img src="/images/summer-images/logo.jpg" alt="西象教育">
    </a>-->
    <!-- time -->
    <div class="shutuo-time">
        <img src="/images/summer-images/shutuo-time.png">
    </div>
    <!-- picture -->
    <div class="summer-pic">
        <a class="summer-picture pic-1" href="#1">
            <img src="/images/summer-images/pic1.png">
        </a>
        <a class="summer-picture pic-2" href="#2">
            <img src="/images/summer-images/pic2.png">
        </a>
        <a class="summer-picture pic-3" href="#3">
            <img src="/images/summer-images/pic3.png">
        </a>
        <a class="summer-picture pic-4" href="#4">
            <img src="/images/summer-images/pic4.png">
        </a>
        <a class="summer-picture pic-5" href="#5">
            <img src="/images/summer-images/pic5.png">
        </a>
        <a class="summer-picture pic-6" href="#6">
            <img src="/images/summer-images/pic6.png">
        </a>
        <div class="text-one">
            <span class="bluetext">summer homework+ course tutoring</span>&nbsp;summer homework+ course tutoring&nbsp;
            following tutoring of all homework and formation of habit, making a comment on the same day. summer courses
            deliberately designed for the summer school improve the study abilities.
        </div>

        <div class="text-two">
            <span class="bluetext">Interest and hobby Class- one-stop service</span>
            </br>
            We are communicating and cooperating with famous schools and organizations. summer schools have set up the
            classes like the calligraphy, manual work, drawing, swimming, Taekwondo, Chinese chess and piano etc.
            Recruiting the famous teachers to teach, which will not delay the study and recreation of your children.
        </div>
        <div class="text-three">
            <span class="bluetext">Two-day traveling day</span>&nbsp;
            we are mainly based on the natural scenery ( Park, farm and fruit garden) and study bases ( museum, the
            exhibition hall, science museum), which enables each student to spend a full and meaningful summer holiday.
        </div>
    </div>
    <!--#start schedule -->
    <div class="summer-schedule">
        <div class="schedule-L">
            <img src="/images/summer-images/kechengbiao.png">
            <img src="/images/summer-images/kechengxia.png">
        </div>

        <div class="schedule">
            <table>
                <tr>
                    <th><img src="/images/summer-images/butterfly.png"></th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
                <tr>
                    <td>8:30-9:00</td>
                    <td>The morning class</td>
                    <td>The morning class</td>
                    <td>The morning class</td>
                    <td>The morning class</td>
                    <td>The morning class</td>
                </tr>
                <tr>
                    <td>9:00-10:00</td>
                    <td>Reading+writing</td>
                    <td>beautiful essay appreciation</td>
                    <td>Reading+writing</td>
                    <td>beautiful essay appreciation</td>
                    <td>Reading+writing</td>
                </tr>
                <tr>
                    <td>10:30-11:50</td>
                    <td>English</td>
                    <td>Maths</td>
                    <td>English</td>
                    <td>Maths</td>
                    <td>English</td>
                </tr>
                <tr>
                    <td>11:50-13:00</td>
                    <td>Lunch</td>
                    <td>Lunch</td>
                    <td>Lunch</td>
                    <td>Lunch</td>
                    <td>Lunch</td>
                </tr>
                <tr>
                    <td>13:00-14:00</td>
                    <td>Calligraphy</td>
                    <td>Manual Work</td>
                    <td>Games or PE</td>
                    <td>Calligraphy</td>
                    <td>Interest course</td>
                </tr>
                <tr>
                    <td>14:00-15:00</td>
                    <td>Revision+homework</td>
                    <td>Revision+homework</td>
                    <td>Revision+homework</td>
                    <td>Revision+homework</td>
                    <td>Revision+homework</td>
                </tr>
            </table>
        </div>
    </div>
    <!--#end schedule -->

    <!-- bottom -->
    <div class="bottom">
        <pre></pre>
        <img src="/images/summer-images/erweima.png" class="erweima">
    </div>
</div>
<!--#end content-->
    

