<!doctype html>
<html lang="zh_cn">
<% include includes/head.ejs %>
<style type="text/css">
    html, body {
        margin: 0;
        padding: 0;
    }

    .contact {
        margin-top: 20px;
    }

    #content .contact p {
        text-indent: 0;
    }
</style>
<body>
<% include includes/header.ejs %>
<div id="content">
    <div class="main-content wrapper">
        <div class="inner">
            <div class="content-picture">
                <div class="content-picture-fd">
                    <img src="/images/about/about-p-one.jpg"/>
                </div>
                <div class="content-picture-fd">
                    <img src="/images/about/about-p-two.jpg"/>
                </div>
                <div class="content-picture-fd s">
                    <img src="/images/about/about-p-three.jpg"/>
                </div>
                <div class="content-picture-fd">
                    <img src="/images/about/about-p-four.jpg"/>
                </div>
                <div class="content-picture-fd middle">
                    <div class="picture-center-shuazi">
                        <h5>About us:</h5>
                    </div>
                    <p class="center-content">
                        Shanghai Seung educational and scientific ltd Co. was established in 2008, which is an
                        institution mainly engaged in the tutoring and cultivation of the study abilities of the primary
                        and middle school students.Our target is to create a study center which is reliable to the
                        parents and students, which will not only improve the students’grades, but also teach the
                        scientific study approaches to the students. We have inherited the service ideal as “The student
                        first” since the establishment , cultivated many batches of excellent students and won the good
                        reputation from a lot of parents as well.
                    </p>
                </div>
                <div class="content-picture-fd s">
                    <img src="/images/about/about-p-six.jpg"/>
                </div>
                <div class="content-picture-fd">
                    <img src="/images/about/about-p-seven.jpg"/>
                </div>
                <div class="content-picture-fd">
                    <img src="/images/about/about-p-eight.jpg"/>
                </div>
                <div class="content-picture-fd s">
                    <img src="/images/about/about-p-nine.jpg"/>
                </div>
            </div>
            <h4 class="title">联系我们</h4>

            <div class="map">
                <iframe src="/baidu.html" id="" width="1000" height="500" frameborder=0></iframe>
            </div>

        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
