<!doctype html>
<html lang="zh_cn">
<% include includes/head.ejs %>
<body>
<% include includes/header.ejs %>
<div id="content">
    <div class="main-content wrapper">
        <div class="inner">
            <h4 class="gray">How can seung do?</h4>

            <h3 style="color: #106eb7">Providing the high-quality teaching and maintaining the low price charge</h3>
            <!-- 第一个  -->
            <div class="reason-content" style="height: 300px;">
                <div class="reason-content-left">
                    <img src="/images\reason/reason-one.png" class="reason-p-left"/>
                </div>
                <div class="reason-content-right">
                    <div class="reason-content-right-top">
                        <div class="reason-content-title">
                            Other：
                        </div>
                        <div class="reason-content-wenzi">
                            Taking the sales target as its checking index and the education company will be turned into
                            a sales company. All the things done by consultants, study teachers and teachers are pushing
                            you to deliver the money, consume the course times and replenish the tuition fee. It would
                            be better that the students’ grades have been improved? If there is not, It is the problem
                            of the company. Anyway, I have completed the company target.
                        </div>
                    </div>
                    <div class="reason-content-right-bottom">
                        <div class="reason-content-title reason-title-blue">
                            Us：
                        </div>
                        <div class="reason-content-wenzi">
                            The checking index is based on students’ progress. We profoundly believe that parents do not
                            want to only find a simple institution, but to obtain real progress. Therefore, we have
                            returned to education wholeheartedly and conscientiously improve the quality. What we do is
                            to improve children and finally obtain good reputation and make a natural development.
                            Currently, majority of students in Seung education are from introduction of old students,
                            which seems to be a perfect proof.
                        </div>
                    </div>
                </div>
            </div>
            <!-- 第二个  -->
            <div class="reason-content" style="height: 220px;">

                <div class="reason-content-right">
                    <div class="reason-content-right-top">
                        <div class="reason-content-title">
                            Other：
                        </div>
                        <div class="reason-content-wenzi">
                            Each institution will tell you that they have 100% good teachers, however, they are only
                            willing to invest 10%-35% of the tuition fee on the teachers’ salary.
                        </div>
                    </div>
                    <div class="reason-content-right-bottom">
                        <div class="reason-content-title reason-title-blue">
                            Us：
                        </div>
                        <div class="reason-content-wenzi">
                            40 %-60% of the tuition fees are invested into the teaching power, which directly shows
                            respect for excellent teachers in terms of payment. The most excellent teachers are greatly
                            attracted and dividends are given to teachers. Therefore,teachers will really regard work as
                            their career and students as their own children.
                        </div>
                    </div>
                </div>
                <div class="reason-content-left">
                    <img src="/images\reason/reason-two.png" class="reason-p-right"/>
                </div>
            </div>

            <!-- 第三个  -->
            <div class="reason-content" style="height: 200px;">
                <div class="reason-content-left">
                    <img src="/images\reason/reason-three.png" class="reason-p-left"/>
                </div>
                <div class="reason-content-right">
                    <div class="reason-content-right-top">
                        <div class="reason-content-title">
                            Other:
                        </div>
                        <div class="reason-content-wenzi">
                            Six verse 1. You will be surrounded by one institution. 100% care will be done on you as
                            long as you pay the money. The institution is like your half toddler.
                        </div>
                    </div>
                    <div class="reason-content-right-bottom">
                        <div class="reason-content-title reason-title-blue">
                            Us:
                        </div>
                        <div class="reason-content-wenzi">
                            The low quality behaviors like the loud voice and being late for work frequently must be
                            forbidden . The institution can not be treated as the toddler. Here, the respect can be only
                            obtained through the progress.
                        </div>
                    </div>
                </div>
            </div>
            <!-- 第四个  -->
            <div class="reason-content">

                <div class="reason-content-right">
                    <div class="reason-content-right-top">
                        <div class="reason-content-title">
                            Other:
                        </div>
                        <div class="reason-content-wenzi">
                            The students should be treated as the patients. Upon your entrance, you will be told about
                            your disease and the existence of your problems. You will be diagnosed as a patient by the
                            doctor. You have to believe how many shortcomings that you have got, the confidence from the
                            parents can only be obtained by hitting the students severely.
                        </div>
                    </div>
                    <div class="reason-content-right-bottom">
                        <div class="reason-content-title reason-title-blue">
                            Us:
                        </div>
                        <div class="reason-content-wenzi">
                            The students will be treated as a target with full potentiality. We will start from finding
                            the students’ potential, stimulating the study motivation, excavating the study potential
                            and priority. Meanwhile, the shortcoming should be fully compensated for and help the
                            students establish the confidence finally. They will learn to study by themselves and even
                            develop a better living habit.
                        </div>
                    </div>
                </div>
                <div class="reason-content-left">
                    <img src="/images\reason/reason-four.png" class="reason-p-right"/>
                </div>
            </div>

            <!-- 第五个  -->
            <div class="reason-content">
                <div class="reason-content-left">
                    <img src="/images\reason/reason-five.png" class="reason-p-left"/>
                </div>
                <div class="reason-content-right">
                    <div class="reason-content-right-top">
                        <div class="reason-content-title">
                            Other:
                        </div>
                        <div class="reason-content-wenzi">
                            Other: Being luxurious, the fund will be invested in the environment and making
                            an excessive decoration. The parents will be shocked by the environment and they will only
                            satisfy the parental psychology as “ environment equals power”
                        </div>
                    </div>
                    <div class="reason-content-right-bottom">
                        <div class="reason-content-title reason-title-blue">
                            Us:
                        </div>
                        <div class="reason-content-wenzi">
                            Being plain instead of being simply, admiring the plain style of the world mainstream,
                            deliberately seeking for the ideals as being “ Clean, neat and tidy”. Admiring the
                            environmentalism and putting all the saving fund into the teaching power.
                        </div>
                    </div>
                </div>
            </div>
            <!-- 第六个  -->
            <div class="reason-content">

                <div class="reason-content-right">
                    <div class="reason-content-right-top">
                        <div class="reason-content-title">
                            Other:
                        </div>
                        <div class="reason-content-wenzi">
                            TV, newspaper, broadcasting, brochure, a large amount of fund will be invested on the
                            advertisement each year. They have well mastered the psychology of some parents as “
                            Advertisement equals the power”.
                        </div>
                    </div>
                    <div class="reason-content-right-bottom">
                        <div class="reason-content-title reason-title-blue">
                            Us:
                        </div>
                        <div class="reason-content-wenzi">
                            We firmly believe that “ the good education quality” is the core of the survival and
                            development of education brand. We would rather spend the money in improving the education
                            quality and reducing the tuition fee of the students truly and totally instead of spending
                            them on advertisement! We totally believe if the students obtain the growth in Seung, he
                            will be sure to introduce more students. One is spread to ten, ten are spread to a hundred!
                        </div>
                    </div>
                </div>
                <div class="reason-content-left">
                    <img src="/images\reason/reason-six.png" class="reason-p-right"/>
                </div>
            </div>

            <!-- 第七个  -->
            <div class="reason-content">
                <div class="reason-content-left">
                    <img src="/images\reason/reason-seven.png" class="reason-p-left"/>
                </div>
                <div class="reason-content-right">
                    <div class="reason-content-right-top">
                        <div class="reason-content-title">
                            Other:
                        </div>
                        <div class="reason-content-wenzi">
                            They have well mastered the parental psychology as” One penny worths one goods. The higher
                            price will be obtaining the parental reliance easily and various sales skills will be
                            adapted in the price and the parents will be triggered to sign the bill. In fact, it is “
                            ten pennies spent for one goods".
                        </div>
                    </div>
                    <div class="reason-content-right-bottom">
                        <div class="reason-content-title reason-title-red">
                            Us:
                        </div>
                        <div class="reason-content-wenzi">
                            We understand the parents really needs the progress when looking for an institution instead
                            of obtaining the material comforts. Therefore, we fully focus on the teaching quality and
                            helping the students to progress. Meanwhile, the payment cost of the parents will be also
                            reduced with “ one penny equaling 2 pennies goods”.
                        </div>
                    </div>
                </div>
            </div>
            <!-- 第八个  -->
            <div class="reason-content" style="height: 210px;">

                <div class="reason-content-right">
                    <div class="reason-content-right-top">
                        <div class="reason-content-title">
                            Other:
                        </div>
                        <div class="reason-content-wenzi">
                            100% promise will be made for unconditional refunding upon the contract signature, however,
                            when there is a refund for the bad effect. Various deduction and trap will be set up to make
                            you feel completely exhausted upon the refunding.
                        </div>
                    </div>
                    <div class="reason-content-right-bottom">
                        <div class="reason-content-title reason-title-red">
                            Us:
                        </div>
                        <div class="reason-content-wenzi">
                            Insisting on the promise of unconditional balance refunding. There is no charge dispute
                            since the establishment , as we think that the honesty is the basic foundation of this
                            institution.
                        </div>
                    </div>
                </div>
                <div class="reason-content-left">
                    <img src="/images\reason/reason-eight.png" class="reason-p-right"/>
                </div>
            </div>
            <h4 class="title">Featured Program</h4>

            <table class="features">
                <tr class="features-h">
                    <td class="features-l-two features-oneh-right">
                        Dividing the class after test and being arranged
                        To the different classes by teachers.
                    </td>
                </tr>
                <tr class="features-h">
                    <td class="features-l-two  features-twoh-right">Formulating the study plan schedule</td>
                </tr>
                <tr class="features-h">
                    <td class="features-l-two  features-threeh-right">The teachers follows up the study
                        Condition of the students all the times.
                        Further feedback will be sent to the
                        Parents on time and realize the better
                        School communication.
                    </td>
                </tr>
                <tr class="features-h">
                    <td class="features-l-two  features-fourh-right"> Correcting the study attitude</td>
                </tr>
                <tr class="features-h">
                    <td class="features-l-two  features-fiveh-right">
                        The examination is the method for testing The students grade. The students will realize
                        His more mistakes through test paper
                        Analysis.
                    </td>
                </tr>
                <tr class="features-h">
                    <td class="features-l-two features-sixh-right">
                        The reform over the traditional class teaching
                        Will become the mainstream of the teaching
                        Modes of middle and primary schools.
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>