<!doctype html>
<html lang="zh_cn">
<% include includes/head.ejs %>
<body>
<% include includes/header.ejs %>
<div id="content">
    <div class="main-content wrapper">
        <div class="inner">
            <div class="scroll">
                <h4>Choice of the confidence</h4>
            </div>
            <div class="content-bottom">
                <p class="content-bottom-left">
                    After seven-year precipitation and accumulation, through strict training and management , Seung
                    education has possessed a group of excellent teachers comprised of the most experienced on-the-job
                    teachers.
                </p>

                <div class="content-bottom-right">
                    <p class="content-bottom-right-block" style="background:#575757;">
                        <span class="big"></span><span class="word-distance">The teachers are strictly controlled</span>
                    </p>

                    <p class="content-bottom-right-block" style="background:#d94c5a;">
                        <span class="big"></span><span class="word-distance">The strict check</span>
                    </p>

                    <p class="content-bottom-right-block" style="background:#80cbc9;">
                        <span class="big"></span><span class="word-distance">The strict assessment</span>
                    </p>
                </div>
            </div>
            <h4 class="deep">The profile of the part teachers</h4>

            <div class="teacher-introduce">
                <div class="portrait-women">
                    <h6 class="name">Teacher Chen</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">Grade:senior school</span>Subject:English</p>
                    <p class="introduce">
                        The current English teacher of senior school has possessed a large teaching experiences in the
                        extra curricular tutoring of the primary and middle school and is also a leader in the English
                        subject. Many students have been cultivated to enter the key schools of the district and city.
                        She is very strict with both her students and herself. Because she profoundly understands that
                        the true progress is what parents are searching for in an organization. Therefore, it is always
                        proved by the students’ grades and also 95% of the progress rate has been maintained annually in
                        Seung education.
                    </p>
                </div>
            </div>

            <div class="teacher-introduce">
                <div class="portrait-man">
                    <h6 class="name">Teacher Wang</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">Grade:junior school</span>Subject:English</p>
                    <p class="introduce">
                        The English teacher of the key municiple middle school and he also participates in teaching
                        research topic of various districts levels. He is able to grasp the tendency of the middle
                        school teaching clearly and also brings the newest dynamics to the middle school English study.
                        He is very good at starting from the individuality of the students and compensate for the
                        weakness and shortage of the students according to their features. The stduents’grade can be not
                        only improved,, the importantce of the study can be also comprehended by them. Meanwhile, he
                        also emphasizes that the students should start with the textbook to confront the examination. In
                        this way can they really obtain the knowledge in a relaxing mindset.
                    </p>
                </div>
            </div>

            <div class="teacher-introduce">
                <div class="portrait-women">
                    <h6 class="name">Teacher Xi</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">Grade:primary school</span>Subject:English
                    </p>

                    <p class="introduce">
                        She graduated from the Shanghai Teachers University, majoring in education major of primary
                        school. She is an English teacher in primary school and also summarized a set of study approach
                        suitable to the primary school during the long-term working practice. She has a solid English
                        foundation and clear thread in teaching as well as the rich class teaching experiences. In
                        addition, she is also good at making the knowledges interesting and seeking for teaching the
                        knowledges to the students in a harmonious atmosphere and the study interest of the students has
                        also been cultivated. Teacher Xi firmly holds the belief that there is no student who can not be
                        taught, there is only the teacher who can not teach.
                    </p>
                </div>
            </div>


            <div class="teacher-introduce">
                <div class="portrait-man">
                    <h6 class="name">Teacher Shu</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">Grade:senior school </span>Subject:Maths</p>

                    <p class="introduce">
                        The current high school math teacher, long-term engaged in high school tutoring. Counseling
                        students more than 2400 people. To accurately grasp the trend of the college entrance
                        examination, in-depth study of the college entrance examination oriented education, accelerated
                        learning experience method. Especially good at counseling students, the ability to change some
                        of the students learning attitude. Most of the students have different degrees of improvement.
                        Individual counseling students audition satisfaction rate is close to 100%.
                    </p>
                </div>
            </div>


            <div class="teacher-introduce">
                <div class="portrait-women">
                    <h6 class="name">Teacher Shi</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">Grade:middle school:</span>Subject:Maths </p>

                    <p class="introduce">
                        Being very familliar with the teaching materials of middle school and primary school and good at
                        teaching the problem-solving method to the students and make them to learn the initial analysis
                        and enable the students to improve their problem-solving capabilities. He also has a set of
                        particular method to improve the grades for the studdents with the weak study bases. My teaching
                        aim is preaching, tuition, FAQ, teaching and education. I firmly believe that education will be
                        wonderful due to the persistence!
                    </p>
                </div>
            </div>

            <div class="teacher-introduce">
                <div class="portrait-man">
                    <h6 class="name">Teacher Fang</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">Grade:primary school</span>Subject:Maths</p>

                    <p class="introduce">
                        He is a maths teacher of primary school of Seung education who was majoring in the physics and
                        electronics in Hefei teachers college. He possesses the rich working experience in tutoring
                        organization of primary school and middle school and also has a clear grasp and understanding
                        over the knowledge points and maths examination outline of the middle school and primary school.
                    </p>
                </div>
            </div>


            <div class="teacher-introduce">
                <div class="portrait-women">
                    <h6 class="name">Teacher jia</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">The Night Care Class</span></p>
                    <p class="introduce">
                        The excellent teacher of Seung education, who has possessed the rich teaching experience and
                        class teacher management experience.She is very earnest and cautious in treating the teaching
                        work as well as patient and responsible for each student. She has a clear and orderly thread in
                        taking the course by putting the happiness into the teaching. The atmosphere in the class is
                        lively. She is good at combining the life examples in order to stimulate the imagination and
                        creation of the children, which is conducive to developing their way of thinking. She is also
                        familiar with learning about the psychology of the children of young age group and willing to
                        communicate and exchange ideas with the students in order to help them to achieve a bigger
                        progress!
                    </p>
                </div>
            </div>

            <div class="teacher-introduce">
                <div class="portrait-women">
                    <h6 class="name">Tracy</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">English Teacher</span></p>

                    <p class="introduce">
                        Many years of overseas study and working experiences in Australia, she has possessed many
                        tutoring experience of the middle and primary schools and is good at analyzing the weakness of
                        the students’ English knowledge. She formulates the study strategy and examination skills with
                        reference to the study habit of each student as well as focus on the practicality and oral
                        training of English and cultivate the English way of thinking mode of the students, which makes
                        the English language totally useful and practical.
                    </p>
                </div>
            </div>

            <div class="teacher-introduce">
                <div class="portrait-man">
                    <h6 class="name">Teacher Luo</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">The Physics and Maths teacher of junior and senior school</span>
                    </p>

                    <p class="introduce">
                        He was sent to study in Tongji university after the maths and physics competitions. He has been
                        engaged in the research and teaching work of maths, physics and chemistry of senior school and
                        summarized a set of teaching approaches and been able to formulate the personalized teaching
                        scheme by combining the actual situation of the students. Furthermore, he is also good at
                        helping students to achieve mastery through a comprehensive study of the subject, solve the
                        final problems. He also proposes to pay attention to various mistakable points during the daily
                        study and help them to win a final victory in the examination hall.
                    </p>
                </div>
            </div>

            <div class="teacher-introduce">
                <div class="portrait-women">
                    <h6 class="name">Little Teacher Zhang</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">The primary school teacher</span></p>

                    <p class="introduce">
                        Having been graduated from South-eastern University with master degree, he is engaged in
                        one-to-one tutoring work after graduation all the times and he is able to help the children to
                        find the study approach rapidly and stimulate their study interest to improve their study grades
                        strikingly. He is modest and patient
                        And also very responsible and earnest towards everything and has a great sense of responsibility
                        on every child.
                    </p>
                </div>
            </div>

            <div class="teacher-introduce">
                <div class="portrait-man">
                    <h6 class="name">Teacher Lin</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">The maths teacher of middle school</span></p>

                    <p class="introduce">
                        He graduated from the maths teaching major of shanghai teachers university and currently he is
                        serving as the maths teacher of junior school of Shanghai. He is very good at arranging for the
                        lesson contents reasonably according to the students’ features so as to stimulate the study
                        interest and elevate the study effect. He has an unique perspective towards the teaching
                        contents and takes the systematic teaching instead of following the prescribed order. He
                        explains the profound the theories in simple languages with great patience, which makes the
                        students happy and willing to learn.
                    </p>
                </div>
            </div>

            <div class="teacher-introduce">
                <div class="portrait-women">
                    <h6 class="name">Teacher Cao</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">The excellent teacher of Seung education center.</span>
                    </p>

                    <p class="introduce">
                        He is very familiar with the teaching materials of primary and middle schools with an easy-going
                        personality and being very good at communicating with the students and also focuses on provoking
                        the students’ study interest and helping them to cultivate the orderly way of thinking. The
                        interest is always the effective road to improve the study efficiency. Confidence is always the
                        sharp weapon to overcome the study difficulties. The mission of the teacher is to help the
                        students to establish the two elements in order to provide the solide step for their progress.
                    </p>
                </div>
            </div>

            <div class="teacher-introduce">
                <div class="portrait-women">
                    <h6 class="name">Teacher Zhang</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">The Maths of Junior School</span></p>

                    <p class="introduce">
                        He graduated from the maths department of East China University of Science and
                        technology.Currently, he is serving as the maths teacher of junior school of shanghai and mainly
                        taking the courses of elementary school maths Olympiad and junior school maths, . He pays
                        attention to each student during the class and makes an effective teaching according to their
                        features with a particular perspective towards the teaching contents as well as arranges the
                        course time reasonably, which enriches the knowledge of the students without making them feel
                        tired and dull. His class is full of interest and livelihood.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
