<div class="one_model_mainone one_model_main_border">
    <h4>What kind of children needs one-to-one tutoring</h4>

    <div class="one_model_mainone_content">
        <p class="jianju">The students do not adapt themselves to schools due to the junior school entrance or school
            transformation</p>

        <p>students who lack of enough study motivation with bad self-control capabilities.</p>

        <p class="jianju">those who can not catch up with the teachers teaching pace in the tutoring class</p>

        <p> those junior or senior school graduates who are confronting the school entrance examination.</p>
    </div>
</div>
<div class="one_model_maintwo one_model_main_border">
    <h4>The Priorities of one-to-one tutoring </h4>

    <div class="one_model_maintwo_orange one_model_maintwo_float jianju">
        <h6>Check</h6>

        <p>With a lot of knowledge and big amount of homework, we do have some knowledge which can not be digested，
            which will create the vicious recycling if we can not compensate for the knowledge shortage timely. However,
            the one-to-one tutoring can compensate for this shortage with great tutoring reference.</p>
    </div>
    <div class="one_model_maintwo_green one_model_maintwo_float">
        <h6>Interest and Confidence</h6>

        <p>The students with weak grades mostly have a certain sense of inferiority, therefore , the teachers will help
            them establish the confidence during the course teaching as well as strengthen their interest and
            confidence, which seems to be hard to be obtained in the daily class.</p>
    </div>
    <div class="one_model_maintwo_blue one_model_maintwo_float jianju">
        <h6>Correcting the habit</h6>

        <p>
            The students with weaker study grades are mostly caused by the bad study habit. The teachers will find its
            problem immediately with his professional capacity and rich experience during one-to-one tutoring and the
            problems will be found out by them at once
        </p>
    </div>
    <div class="one_model_maintwo_yellow one_model_maintwo_float">
        <h6>Teaching reference</h6>

        <p>
            The teachers can only teach the lessons confronting the levels and process of the majority of the students
            in the class teaching and they can not care about all the aspects.The Teachers can teach the lessons
            face-to-face during one-to-one tutoring with strong reference and study efficiency can be improved greatly
            and naturally accordingly.
        </p>
    </div>
</div>
<div class="one_model_mainthree one_model_main_border">
    <h4>The Reasons for choosing one-to-one tutoring of Seung </h4>

    <div class="one_model_mainthree_content">
        <div class="one_model_mainthree_float">
            <h6>The assessment in all aspects</h6>


        </div>
        <div class="one_model_mainthree_float">
            <h6>The teaching quality will be regarded as the life</h6>


        </div>
        <div class="one_model_mainthree_float one_model_mainthree_three">
            <h6>The Perfect following-up service </h6>


        </div>
    </div>

    <ul class="one_model_mainthree_content_bottom">
        <li class="one_model_mainthree_two_title">辅导流程</li>
        <li>
            <div class="one_model_mainthree_box">
                <img src="/images/one_model/img-1.png" alt=""/>
            </div>
            <p>一对一<br>个性咨询</p>
        </li>
        <li>
            <div class="one_model_mainthree_box">
                <img src="/images/one_model/img-2.png" alt=""/>
            </div>
            <p>一对一<br>全方位评测</p>
        </li>
        <li>
            <div class="one_model_mainthree_box">
                <img src="/images/one_model/img-3.png" alt=""/>
            </div>
            <p>一对一分析</p>
        </li>
        <li>
            <div class="one_model_mainthree_box">
                <img src="/images/one_model/img-4.png" alt=""/>
            </div>
            <p>制定个性<br>化辅导方案</p>
        </li>
        <li>
            <div class="one_model_mainthree_box">
                <img src="/images/one_model/img-5.png" alt=""/>
            </div>
            <p>签订协议<br>建议档案</p>
        </li>
        <li>
            <div class="one_model_mainthree_box">
                <img src="/images/one_model/img-6.png" alt=""/>
            </div>
            <p>匹配合适教<br>师一对一授课</p>
        </li>
        <li>
            <div class="one_model_mainthree_box">
                <img src="/images/one_model/img-7.png" alt=""/>
            </div>
            <p>优秀教师<br>陪读答疑</p>
        </li>
    </ul>
</div>