<div class="team_model_mainone model_main_border ">
    <div class="team_model_mainone_content team_model_content">
        <h5>What is the group mode?</h5>
        <div class="duanluo duanluo1">
            <p>
                The subjects will be divided into the basic, improved and excellent groups of different levels according
                to the testing condition and we will formulate the different teaching goals, contents, methods and
                training exercises etc with specific reference. The suitable goal will be established for each student
                and the prompt confirmation and stimulation will be obtained timely during students’ study process and
                the continuous sense of the success will be experienced by the students.
            </p>
        </div>
    </div>
    <img src="/images/team_model/team_model_mainone.jpg"/>


</div>
<div class="team_model_maintwo model_main_border">
    <img src="/images/team_model/team_model_maintwo.jpg" style="width: 45%"/>
    <div class="team_model_maintwo_content  team_model_content">
        <h5>The group mode’s priority</h5>
        <div class="duanluo duanluo2">
            <p>
                The level division teaching of 2-8 people， The students of the same level can be studying together and
                each individual all has the independent and instinctive and mutual exchange opportunity and the active
                mutual promotional effect will be easily produced.
            </p>
            <p>
                The problems are easily founded among 2-8 people, participation of the students are motivated during the
                class. The weakness of subjects should be proposed on the spot and solved simultaneously. The weak
                points should not be omitted. Each class must be elevated which can enable the students to fully
                experience the success.
            </p>
        </div>
    </div>
    <ul class="team_model_maintwo_pic">
        <li class="team_model_maintwo_box">
            <img src="/images/team_model/team_model_maintwo_1.jpg"/>
        </li>
        <li class="team_model_maintwo_box">
            <img src="/images/team_model/team_model_maintwo_2.jpg"/>
        </li>
        <li class="team_model_maintwo_box cancel_margin team_model_maintwo_box_block">
            <h5>Excellent group</h5>
            <p>
                The 30%+ Basic Questions and 70% difficult and profound expansive questions ,emphasizing on the
                problem-solving way of thinking.
            </p>
        </li>
        <li class="team_model_maintwo_box team_model_maintwo_box_block">
            <h5>Improvement groups</h5>
            <p>
                The 70%+Basic questions and 30% difficult and profound expansive questions , emphasizing on training the
                basic problems, the problem-solving skills and scoring abilities.
            </p>
        </li>
        <li class="team_model_maintwo_box">
            <img src="/images/team_model/team_model_maintwo_3.jpg"/>
        </li>
        <li class="team_model_maintwo_box  cancel_margin">
            <img src="/images/team_model/team_model_maintwo_4.jpg"/>
        </li>
        <li class="team_model_maintwo_box">
            <img src="/images/team_model/team_model_maintwo_5.jpg"/>
        </li>
        <li class="team_model_maintwo_box">
            <img src="/images/team_model/team_model_maintwo_6.jpg"/>
        </li>
        <li class="team_model_maintwo_box  cancel_margin team_model_maintwo_box_block">
            <h5 style="margin-bottom: 6px;">Basic groups</h5>
            <p>Emphasizing on training the basic problems, deepening the comprehension of the basic concepts, assisting
                the students to clarify the way of thinking, generalizing and summarizing, consolidating the foundation
                and steadily improving the study grades.</p>
        </li>
    </ul>
    <div class="team_model_maintwo_content_bottom" style="display: none;">
        <ul class="team_model_maintwo_style-one">
            <li class="one">
                <h4>Small Class mode</h4>
                <ol>
                    <li>1.The Level division teaching<br/> and tutoring with reference</li>
                    <li>2.The classmates interaction <br/>and better competition</li>
                    <li>3.The interactive between <br/>teachers and students,
                        timely feedback
                    </li>
                </ol>
            </li>
            <li class="two">
                <h4>level-division<br/>teaching</h4>
                <ol>
                    <li>1.The level division lesson preparation with strong reference</li>
                    <li>2.The class division with test and executing the teaching with materials</li>
                    <li>3.The overall following-up and tutoring communication</li>
                </ol>
            </li>
            <li class="three">
                <h4>Strong Teaching power</h4>
                <ol>
                    <li>1.The front line teachers with authoritative guidance</li>
                    <li>2.The subject leader and professional teaching and research</li>
                    <li>3.The teaching qualification assessment and the end elimination</li>
                </ol>
            </li>
        </ul>

    </div>
</div>